<section class="section tutorsSection">
    <div class="container">
        <div class="title">
            <h2>Tutors Section</h2>
        </div>
        <h3 class="heading">Available Subjects</h3>
        <div class="row resourcesRow">
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career1.jpg" alt=""></div>
                    <h4><a href="javascript:void(0)">Subject 1 - Lorem Ipsum dolor sit amet</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl aliquet pharetra accumsan nulla.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career2.jpg" alt=""></div>
                    <h4><a href="javascript:void(0)">Subject 2 - Lorem Ipsum dolor sit amet</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career3.jpg" alt=""></div>
                    <h4><a href="javascript:void(0)">Subject 3 - Lorem Ipsum dolor sit amet</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>                   
        </div>
        
    </div>
</section>

<section class="section availableTutors grayBg">
    <div class="container">
        <div class="title">
            <h2>Available Tutors for <span>1-1 Sessions</span></h2>
        </div>
        <p class="f-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel faucibus nunc leo scelerisque amet congue curabitur. Lacus, malesuada mollis sed sit bibendum cursus feugiat tellus sit. Odio non ac adipiscing pretium mi. Sit facilisis dolor vitae, faucibus scelerisque vulputate erat. Ac ultrices diam bibendum enim, ac odio urna. Ac, tincidunt ut purus lorem mi erat risus mattis condimentum. Fringilla aliquam erat vitae hac tincidunt nibh.</p>
        <div class="row resourcesRow">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Leah Salomon</a></h3>
                    <h4>UI Designer</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user2.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Colin Timmons</a></h3>
                    <h4>UX Designer</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Miguel Osborne</a></h3>
                    <h4>Front-end Developer</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user2.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Jenna Doe</a></h3>
                    <h4>UX Designer</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Taylor Simon</a></h3>
                    <h4>Product Manager</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tutorCol">
                    <div class="tutorPic"><img src="../../../assets/images/user2.jpg" alt=""></div>
                    <h3><a href="javascript:void(0)">Steven MacAlister</a></h3>
                    <h4>Copyrighter</h4>
                    <a href="javascript:void(0)" class="btn btn-outlined">Contact</a>
                </div>
            </div>
                            
        </div>
        
    </div>
</section>

<div class="popularInstructor section">
    <div class="container">
        <div class="title">
            <h2>Available Tutors for <span>Group Session</span></h2>
        </div>
        <div class="row row10">
            <div class="col-md-3">
                <div class="popularInstructorList">
                    <div class="instructorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <div class="instructorContent flex-grow-1">
                        <h5><a href="javascript:void(0)">Group 1</a></h5>
                        <p>User Experience Design, User Interface</p>
                        <p><strong>29</strong> Courses</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popularInstructorList">
                    <div class="instructorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <div class="instructorContent flex-grow-1">
                        <h5><a href="javascript:void(0)">Group 2</a></h5>
                        <p>User Experience Design, User Interface</p>
                        <p><strong>29</strong> Courses</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popularInstructorList">
                    <div class="instructorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <div class="instructorContent flex-grow-1">
                        <h5><a href="javascript:void(0)">Group 3</a></h5>
                        <p>User Experience Design, User Interface</p>
                        <p><strong>29</strong> Courses</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popularInstructorList">
                    <div class="instructorPic"><img src="../../../assets/images/user1.jpg" alt=""></div>
                    <div class="instructorContent flex-grow-1">
                        <h5><a href="javascript:void(0)">Group 4</a></h5>
                        <p>User Experience Design, User Interface</p>
                        <p><strong>29</strong> Courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>