<section class="section sectionSmall dashGroups grayBg">
    <div class="container"> 
        <div class="headWithSub">
            <h2 class="heading mb-1">Groups</h2>
            <p class="f-12">Here are the groups which you have enrolled</p>
        </div>       
        <div class="row groupsRow">
            <div class="col-md-4">
                <div class="groupsCol whiteFrame">
                    <h3><a href="javascript:void(0)">User Experience Design</a></h3>
                    <p class="createdBy">Created By <a  href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>
                    <div class="groupCreatedDateTime"><div class="groupDate">Date - <strong>12/12/2021</strong></div><div class="groupTime">Time - <strong>09:00AM</strong></div></div>
                    <p class="oneTime f-14 mb-0">One Time Session</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="groupsCol whiteFrame">
                    <h3><a href="javascript:void(0)">User Experience Design</a></h3>
                    <p class="createdBy">Created By <a  href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>
                    <div class="groupCreatedDateTime"><div class="groupDate">Date - <strong>12/12/2021</strong></div><div class="groupTime">Time - <strong>09:00AM</strong></div></div>
                    <p class="oneTime f-14 mb-0">One Time Session</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="groupsCol whiteFrame">
                    <h3><a href="javascript:void(0)">User Experience Design</a></h3>
                    <p class="createdBy">Created By <a  href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>
                    <div class="groupCreatedDateTime"><div class="groupDate">Date - <strong>12/12/2021</strong></div><div class="groupTime">Time - <strong>09:00AM</strong></div></div>
                    <p class="oneTime f-14 mb-0">One Time Session</p>
                </div>
            </div>    
        </div>        
      
    </div>
</section><!--//Contacted Tutors-->
