<div class="course-details-top">
    <div class="container">
        <div class="courseBreadcrumb mb-2">
            <a href="javascript:void(0)">Graphic Design &amp; Illustration</a> <span>Drawing</span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="title">
                    <h2>{{courseDetails?.course_title}}</h2>
                </div>
                <p>{{courseDetails?.short_description}}</p>
                <div class="courseRating d-flex align-items-center form-group">
                    <a class="btn btn-white btnSmall" href="javascript:void(0)">Best Seller</a>
                    <div class="ratingWidget d-flex align-items-center">
                        <span class="ratingValue">{{courseDetails?.review_count}}</span>
                        <div class="stars star-dark d-flex align-items-center">
                            <span *ngFor="let star of stars" style=" list-style: none;">
                                <li [ngClass]="{'starIcon fullstar': (star <= courseRating)}">
                                    <i class="starIcon fullstar"></i>
                                </li>
                            </span>
                        </div>
                    </div>
                </div>
                <p class="createdBy">Created By <a href="javascript:void(0)"
                        class="underlineLink primary-color">{{courseDetails?.instructor_details?.firstname ?
                        courseDetails?.instructor_details?.firstname : '-'}}
                        {{courseDetails?.instructor_details?.lastname ? courseDetails?.instructor_details?.lastname :
                        '-'}}</a></p>
            </div>
            <div class="col-md-4 text-md-right">
                <div class="coursePrice">
                    <h2><span class="ruppeeSign">&#8377;</span> {{courseDetails?.price ? courseDetails?.price : 0 }}
                    </h2>
                    <p>50% off <s><span class="ruppeeSign">&#8377;</span> 910</s></p>
                </div>
                <div class="courseBtns">
                    <a class="btn btn-outlined btn-lg form-group" href="javascript:void(0)">Add To Cart</a>
                    <a class="btn btn-primary btn-lg form-group" href="javascript:void(0)">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--//Course Details Top-->

<section class="section course-details-others">
    <div class="container">
        <div class="other-details-row">
            <div class="other-details-col">
                <label>Estimated Time</label>
                <h2>{{courseDetails?.course_duration ? courseDetails?.course_duration : 0}}</h2>
                <p>On-demand Video</p>
            </div>
            <div class="other-details-col">
                <label>Enrolled By</label>
                <h2>{{courseDetails?.enrolled_by ? courseDetails?.enrolled_by : 0}}</h2>
                <p>Students &amp; professionals</p>
            </div>
            <div class="other-details-col">
                <label>Download</label>
                <h2>{{courseDetails?.download ? courseDetails?.download : 0}}</h2>
                <p>Resources</p>
            </div>
            <div class="other-details-col">
                <label>Full</label>
                <h2>{{courseDetails?.access_time ? courseDetails?.access_time : '-'}}</h2>
                <p>Access</p>
            </div>
        </div>
    </div>
</section>
<!--//Other Details-->

<section class="section grayBg aboutCourse">
    <div class="container">
        <div class="title">
            <h2>About this <span>Professional Course</span></h2>
        </div>
        <div class="whiteFrame cmsContent f-14">
            <p>{{courseDetails?.description}}</p>
            <!-- <p>Prepare for a career in the high-growth field of UX design, no experience required. With professional training designed by Google, get on the fast-track to a competitively paid job.</p>
            <p>User experience (UX) designers focus on the interaction that users have with products, like websites, apps, and physical objects. They make those everyday interactions useful, enjoyable, and accessible.</p>
            <p>Over 7 courses, gain in-demand skills that will prepare you for an entry-level job. At under 10 hours per week, you can complete the certificate in less than 6 months.</p>
            <p>You will create designs on paper and in digital design tools like Figma and Adobe XD. By the end of the certificate program, you will have a professional UX portfolio that includes three end-to-end projects, so that you're ready to apply for jobs.</p> -->
        </div>
    </div>
</section>
<!--//About this Professional Course-->

<section class="section grayBg courseItems pt-0">
    <div class="container">
        <div class="title">
            <h2>What You Will <span>Learn</span></h2>
        </div>
        <div class="whiteFrame cmsContent">
            <div class="row courseItemsRow">
                <div class="col-md-6">
                    <p>Follow the design process: empathize with users, define pain points, ideate solutions, create
                        wireframes and prototypes, test and iterate on designs</p>
                </div>
                <div class="col-md-6">
                    <p>Understand the basics of UX research, like planning research studies, conducting interviews and
                        usability studies, and synthesizing research results</p>
                </div>
            </div>
            <div class="row courseItemsRow">
                <div class="col-md-6">
                    <p>Apply foundational UX concepts, like user-centered design, accessibility, and equity-focused
                        design</p>
                </div>
                <div class="col-md-6">
                    <p>Create a professional UX portfolio that includes 3 end-to-end projects: a mobile app, a
                        responsive website, and a cross-platform experience</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//What You Will Learn-->

<section class="section courseContentWrap">
    <div class="container">
        <div class="title">
            <h2>Course <span>content</span></h2>
        </div>
        <div class="whiteFrame cmsContent f-12"
            *ngIf="courseDetails && courseDetails.course_content && courseDetails.course_content.length">
            <div class="weeklyContent" *ngFor="let content of courseDetails.course_content">
                <h3 class="head20">Week {{content?.week_no}} : {{content?.content_title ? content?.content_title :
                    'NA'}}</h3>
                <p>{{content?.content_description ? content?.content_description : 'NA'}}</p>
                <div class="weeklyBottomContent row">
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="12" class="icon">
                                <use xlink:href="#clock-icon"></use>
                            </svg></span>{{content?.content_duration ? content?.content_duration : 0}} hours to complete
                    </div>
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="13" class="icon">
                                <use xlink:href="#video-icon"></use>
                            </svg></span>{{content?.no_of_videos ? content?.no_of_videos : 0}} videos ,
                        {{content?.no_of_recordings ? content?.no_of_recordings : 0}} recordings,
                        {{content?.no_of_quizess ? content?.no_of_quizess : 0}} quizzes
                    </div>
                </div>
            </div>
            <!-- <div class="weeklyContent">
                <h3 class="head20">Week 2 : Getting to know common terms, tools, and frameworks in UX design</h3>
                <p>UX designers always put the user first. In this part of the course, you'll be introduced to user-centered design and other common frameworks that UX designers use on-the-job. You'll
                    also learn about the importance of equity and accessibility when designing. In addition, you'll learn how to think across platforms to design seamless user experiences.</p>
                <div class="weeklyBottomContent row">
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="12" class="icon">
                            <use xlink:href="#clock-icon"></use>
                         </svg></span>3 hours to complete
                    </div>
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="13" class="icon">
                            <use xlink:href="#video-icon"></use>
                         </svg></span>13 videos (Total 57 min), 4 readings, 5 quizzes
                    </div>
                </div>
            </div> -->
            <!-- <div class="weeklyContent">
                <h3 class="head20">Week 3 : Joining design sprints</h3>
                <p>UX designers often participate in design sprints to define the direction of a product. In this part of the course, you'll explore the world of design sprints, including the phases of a design sprint and how to plan and participate in one. You'll also learn about retrospectives, which is a way to constructively reflect on a design sprint and identify areas of improvement to implement next time.</p>
                <div class="weeklyBottomContent row">
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="12" class="icon">
                            <use xlink:href="#clock-icon"></use>
                         </svg></span>3 hours to complete
                    </div>
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="13" class="icon">
                            <use xlink:href="#video-icon"></use>
                         </svg></span>10 videos (Total 27 min), 3 readings, 6 quizzes
                    </div>
                </div>
            </div> -->
            <!-- <div class="weeklyContent">
                <h3 class="head20">Week 4 : Building a professional presence</h3>
                <p>As the digital world continues to expand, companies recognize that designing good user experiences is a necessity, which is why UX design is a high-growth and in-demand job field. The key to landing one of those UX design jobs is a strong portfolio and online presence. In this part of the course, you'll start to create a portfolio to showcase your upcoming work. You'll also learn about the importance of having a personal brand and building an online presence.</p>
                <div class="weeklyBottomContent row">
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="12" class="icon">
                            <use xlink:href="#clock-icon"></use>
                         </svg></span>8 hours to complete
                    </div>
                    <div class="weeklyBottomCol">
                        <span class="icon-bottom"><svg width="12" height="13" class="icon">
                            <use xlink:href="#video-icon"></use>
                         </svg></span>15 videos (Total 54 min), 9 readings, 9 quizzes
                    </div>
                </div>
            </div>                 -->
        </div>
        <!-- <div class="whiteFrame cmsContent f-12"
            *ngIf="courseDetails && courseDetails.course_content && courseDetails.course_content.length==0">
            <h3>No Course Content Found</h3>
        </div> -->
    </div>
</section>
<!--//Course content-->

<section class="section topReviews grayBg">
    <div class="container">
        <div class="title">
            <h2>Top <span>Reviews</span></h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="topReviewCol whiteFrame">
                    <div class="reviewHead">
                        <h3>Tiffany H.</h3>
                        <div class="stars d-flex align-items-center star-lg"><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon fullstar"></i><i
                                class="starIcon fullstar"></i><i class="starIcon halfstar"></i></div>
                    </div>
                    <p class="f-10">I like the program and the enjoyed completing the first project. I feel I have a
                        better understanding on how to conduct a UX research project. I have done some prior UX learning
                        online and feel there are pros and cons of Udacity. I love the actual project and content. BUT
                        there was so much down time...</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--//Top Reviews-->

<section class="section faqSection">
    <div class="container">
        <div class="title">
            <h2>Frequently Asked <span>Questions</span></h2>
        </div>
        <div class="faqAccordion" *ngIf="faqs && faqs.length">


            <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                <div *ngFor="let faq of faqs">
                    <accordion-group heading="{{faq.question}}">
                        <p>{{faq.answer}}</p>
                    </accordion-group>
                </div>
                <!-- <accordion-group heading="When will I have access to the lectures and assignments?">
                    <p>This content is straight in the template.</p>
                </accordion-group>
                <accordion-group heading="What will I get if I subscribe to this Certificate?">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="What is a UX designer?">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="What tools or platforms are included in the curriculum?">
                    <p>Some content</p>
                </accordion-group> -->
            </accordion>
        </div>
        <p class="f-12 text-center">More questions? Visit the <a href="#" class="primary-color font-medium">Learner Help
                Center.</a></p>
    </div>
</section>
<!--//Frequently Asked Questions-->