
<section class="section sectionSmall ongoingCourses grayBg">
    <div class="container"> 
        <div class="dashHead d-flex align-items-center">
            <h2 class="heading flex-grow-1">My Ongoing Courses</h2>
            <a href="javascript:void(0)" class="viewAll">View All</a>
        </div>       
                
        <div class="row">
            <div class="col-md-4">
                <div class="whiteFrame certifiedTeacherCol">
                    <div class="imageRow"><img src="../../../assets/images/image1.jpg" alt=""></div>
                    <h3 routerLink="/course-details">Adobe Photoshop Training: From Beginner
                        to Pro</h3>
                    <div class="rateCountRow">
                        <div class="ratingCol">
                            <span class="rateValue">4.5</span> <img src="../../../assets/images/icon-star.svg" alt=""> <span class="totalRating">(104,716)</span>
                        </div>
                        <div class="studentCount"><span>46,995</span> Student</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between valueItems">
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-clock.svg" alt=""></span>11 hr 20 mins
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-calendar.svg" alt=""></span>46 Lectures
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-graph.svg" alt=""></span>Beginner
                        </div>
                    </div>
                    <div class="bottomRow">
                        <div class="userInfoCol">
                            <img src="../../../assets/images/user1.jpg" alt="">
                            <span>Albert Flores</span>
                        </div>
                        <div class="priceCol">25% Completed</div>
                    </div>
                    <div class="progressBar-course"><span style="width:25%;"></span></div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="whiteFrame certifiedTeacherCol">
                    <div class="imageRow"><img src="../../../assets/images/image2.jpg" alt=""></div>
                    <h3>Adobe Photoshop Training: From Beginner
                        to Pro</h3>
                    <div class="rateCountRow">
                        <div class="ratingCol">
                            <span class="rateValue">4.5</span> <img src="../../../assets/images/icon-star.svg" alt=""> <span class="totalRating">(104,716)</span>
                        </div>
                        <div class="studentCount"><span>46,995</span> Student</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between valueItems">
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-clock.svg" alt=""></span>11 hr 20 mins
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-calendar.svg" alt=""></span>46 Lectures
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-graph.svg" alt=""></span>Beginner
                        </div>
                    </div>
                    <div class="bottomRow">
                        <div class="userInfoCol">
                            <img src="../../../assets/images/user2.jpg" alt="">
                            <span>Albert Flores</span>
                        </div>
                        <div class="priceCol">75% Completed</div>
                    </div>
                    <div class="progressBar-course"><span style="width:75%;"></span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="whiteFrame certifiedTeacherCol">
                    <div class="imageRow"><img src="../../../assets/images/image3.jpg" alt=""></div>
                    <h3>Adobe Photoshop Training: From Beginner
                        to Pro</h3>
                    <div class="rateCountRow">
                        <div class="ratingCol">
                            <span class="rateValue">4.5</span> <img src="../../../assets/images/icon-star.svg" alt=""> <span class="totalRating">(104,716)</span>
                        </div>
                        <div class="studentCount"><span>46,995</span> Student</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between valueItems">
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-clock.svg" alt=""></span>11 hr 20 mins
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-calendar.svg" alt=""></span>46 Lectures
                        </div>
                        <div class="valueItem">
                            <span class="iconSpan"><img src="../../../assets/images/icon-graph.svg" alt=""></span>Beginner
                        </div>
                    </div>
                    <div class="bottomRow">
                        <div class="userInfoCol">
                            <img src="../../../assets/images/user1.jpg" alt="">
                            <span>Albert Flores</span>
                        </div>
                        <div class="priceCol">40% Completed</div>
                    </div>
                    <div class="progressBar-course"><span style="width:40%;"></span></div>
                </div>
            </div>
        </div>
    </div>
</section><!--//My Ongoing Courses-->