<section class="section cartSection">
    <div class="container">
        <div class="title">
            <h2>Checkout Cart</h2>
        </div>
        <h3 class="heading">2 Courses in Cart</h3>
        <div class="row row10">
            <div class="col-md-8">                
                <div class="cartItem d-md-flex align-items-start">
                    <div class="cartItemImg"><img src="../../../assets/images/cartpic.jpg" alt=""></div>
                    <div class="cartItemContent flex-grow-1">
                        <h3 class="heading">Adobe Photoshop Training: From Beginner to Pro</h3>
                        <span class="cartItemPrice"><span class="ruppeeSign">&#8377;</span> 455</span>
                        <p class="f-14">With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                        <div class="d-lg-flex align-items-center cartItemRating">
                            <div class="courseRating d-flex align-items-center form-group">
                                <a class="btn btn-yellow btnSmall" href="javascript:void(0)">Best Seller</a>
                                <div class="ratingWidget d-flex align-items-center">
                                    <span class="ratingValue">4.7</span>
                                    <div class="stars star-dark d-flex align-items-center">
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon halfstar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="createdBy f-12">Created By <a href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>                        
                        </div>
                        <div class="d-flex flex-wrap justify-content-between valueItems mt-0">
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-clock.svg" alt=""></span>11 hr 20 mins </div>
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-calendar.svg" alt=""></span>46 Lectures </div>
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-graph.svg" alt=""></span>Beginner </div>
                        </div>
                    </div>
                </div>
                <div class="cartItem d-md-flex align-items-start">
                    <div class="cartItemImg"><img src="../../../assets/images/cartpic.jpg" alt=""></div>
                    <div class="cartItemContent flex-grow-1">
                        <h3 class="heading">Adobe Photoshop Training: From Beginner to Pro</h3>
                        <span class="cartItemPrice"><span class="ruppeeSign">&#8377;</span> 455</span>
                        <p class="f-14">With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                        <div class="d-lg-flex align-items-center cartItemRating">
                            <div class="courseRating d-flex align-items-center form-group">
                                <a class="btn btn-yellow btnSmall" href="javascript:void(0)">Best Seller</a>
                                <div class="ratingWidget d-flex align-items-center">
                                    <span class="ratingValue">4.7</span>
                                    <div class="stars star-dark d-flex align-items-center">
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon fullstar"></i>
                                        <i class="starIcon halfstar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="createdBy f-12">Created By <a href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>                        
                        </div>
                        <div class="d-flex flex-wrap justify-content-between valueItems mt-0">
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-clock.svg" alt=""></span>11 hr 20 mins </div>
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-calendar.svg" alt=""></span>46 Lectures </div>
                            <div class="valueItem"><span class="iconSpan"><img src="../../../assets/images/icon-graph.svg" alt=""></span>Beginner </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cartItemSide">                    
                    <h3 class="heading">Total</h3>
                    <h4 class="primary-color"><span class="ruppeeSign">&#8377;</span> 910</h4>
                    <p class="price"><s>&#8377; 1820</s> 50% off</p>
                    <button class="btn btn-primary btn-lg">Buy Now</button>

                    <div class="promotionsCode">
                        <h5 class="heading">Promotions</h5>
                        <form class="codeForm d-flex">
                            <input type="text" placeholder="Enter Promo Code" class="form-control">
                            <button class="btn btn-primary">Apply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="similarCourses">
            <h3 class="heading">You might also like</h3>
            <div class="similarItemRow row">
                <div class="similarItemCol">
                    <div class="ItemColFrame">
                        <div class="imgRow"><img src="../../../assets/images/simi-image1.jpg" alt=""></div>
                        <div class="ItemColContent">
                            <h4><a href="javascript:void(0)">Adobe Photoshop Training:
                                From Beginner to Pro</a></h4>
                            <p class="clLink"><a href="javascript:void(0)" class="underlineLink font-bold">John Doe</a></p>
                            <div class="stars star-dark d-flex align-items-center">
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon halfstar"></i>
                            </div>
                            <h5 class="heading mb-1"><span class="ruppeeSign">&#8377;</span> 455</h5>
                        </div>
                    </div>                    
                </div>
                <div class="similarItemCol">
                    <div class="ItemColFrame">
                        <div class="imgRow"><img src="../../../assets/images/simi-image1.jpg" alt=""></div>
                        <div class="ItemColContent">
                            <h4><a href="javascript:void(0)">Adobe Photoshop Training:
                                From Beginner to Pro</a></h4>
                            <p class="clLink"><a href="javascript:void(0)" class="underlineLink font-bold">John Doe</a></p>
                            <div class="stars star-dark d-flex align-items-center">
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon halfstar"></i>
                            </div>
                            <h5 class="heading mb-1"><span class="ruppeeSign">&#8377;</span> 455</h5>
                        </div>
                    </div>                    
                </div>
                <div class="similarItemCol">
                    <div class="ItemColFrame">
                        <div class="imgRow"><img src="../../../assets/images/simi-image1.jpg" alt=""></div>
                        <div class="ItemColContent">
                            <h4><a href="javascript:void(0)">Adobe Photoshop Training:
                                From Beginner to Pro</a></h4>
                            <p class="clLink"><a href="javascript:void(0)" class="underlineLink font-bold">John Doe</a></p>
                            <div class="stars star-dark d-flex align-items-center">
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon halfstar"></i>
                            </div>
                            <h5 class="heading mb-1"><span class="ruppeeSign">&#8377;</span> 455</h5>
                        </div>
                    </div>                    
                </div>
                <div class="similarItemCol">
                    <div class="ItemColFrame">
                        <div class="imgRow"><img src="../../../assets/images/simi-image1.jpg" alt=""></div>
                        <div class="ItemColContent">
                            <h4><a href="javascript:void(0)">Adobe Photoshop Training:
                                From Beginner to Pro</a></h4>
                            <p class="clLink"><a href="javascript:void(0)" class="underlineLink font-bold">John Doe</a></p>
                            <div class="stars star-dark d-flex align-items-center">
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon halfstar"></i>
                            </div>
                            <h5 class="heading mb-1"><span class="ruppeeSign">&#8377;</span> 455</h5>
                        </div>
                    </div>                    
                </div>
                <div class="similarItemCol">
                    <div class="ItemColFrame">
                        <div class="imgRow"><img src="../../../assets/images/simi-image1.jpg" alt=""></div>
                        <div class="ItemColContent">
                            <h4><a href="javascript:void(0)">Adobe Photoshop Training:
                                From Beginner to Pro</a></h4>
                            <p class="clLink"><a href="javascript:void(0)" class="underlineLink font-bold">John Doe</a></p>
                            <div class="stars star-dark d-flex align-items-center">
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon fullstar"></i>
                                <i class="starIcon halfstar"></i>
                            </div>
                            <h5 class="heading mb-1"><span class="ruppeeSign">&#8377;</span> 455</h5>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>
