<section class="section sectionSmall dashGroups grayBg">
    <div class="container"> 
        <div class="dashHead d-flex align-items-center">
            <h2 class="heading flex-grow-1">Settings</h2>
        </div>  
        <div class="notifications-card whiteFrame">
            <ul class="notifications settingsList mb-0">
                <li>
                    <div class="noti-label">Language</div>
                    <select class="form-control">
                        <option value="">English (United Kingdom)</option>
                        <option value="">India</option>
                    </select>
                </li>
                <li>
                    <div class="noti-label">Date Format</div>
                    <input type="text" name="" id="" class="form-control" value="DD/MM/YYYY">
                </li>
                <li>
                    <div class="noti-label">Time Zone</div>
                    <input type="text" name="" id="" class="form-control" value="GMT+07:00">
                </li>
            </ul>
        </div>
    </div>
</section><!--//Settings-->