<section class="section sectionSmall dashGroups grayBg">
    <div class="container"> 
        <div class="headingColumms">
            <div class="headWithSub flex-1">
                <h2 class="heading mb-1">My Account</h2>
                <p class="f-12">Update your photo and personal details here.</p>
            </div> 
            <a href="javascript:void(0)" class="btn btn-primary btn-lg">Save Profile</a>
        </div>
       
        <div class="whiteFrame myAccount">
            <form>
                <div class="row">
                    <div class="col-md-5 formLabelCol">
                        <label>Full Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="twoColums maxW550 d-md-flex row">
                            <div class="col1 form-group"><input type="text" class="form-control" placeholder="Maxwell"></div>
                            <div class="col1 form-group"><input type="text" class="form-control" placeholder="Anderson"></div>
                        </div>
                    </div>

                    <div class="col-md-5 formLabelCol">
                        <label>Email Address <span>Thank you for verifying your email.</span></label>
                    </div>
                    <div class="col-md-7">
                        <div class="maxW550 form-group">
                           <input type="text" class="form-control" placeholder="maxwell.anderson@email.com">
                        </div>
                    </div>

                    <div class="col-md-5 formLabelCol">
                        <label>Birth Date</label>
                    </div>
                    <div class="col-md-7">
                        <div class="twoColums maxW550 d-md-flex row">
                            <div class="col1 form-group"><input type="text" class="form-control dateField" placeholder="5 June 1990"></div>
                        </div>
                    </div>
                </div>

                <div class="row formSep">
                    <div class="col-md-5 formLabelCol">
                        <label>Customize Avatar <span>Upload avatar following this format PNG, JPG 
                            (max. 800x800px)</span></label>
                    </div>
                    <div class="col-md-7">
                        <div class="maxW550 form-group">                            
                           <div class="imageUploadFrame">
                               <input type="file" name="" id="">
                               <i class="icon"><img src="../../../assets/images/icon-image.svg" alt=""></i>
                               <span>Upload image click here or Drag & Drop</span>
                           </div>
                        </div>
                    </div>
                </div>
            </form>            
        </div>
      
    </div>
</section><!--//Contacted Tutors-->