<section class="section servicesSection">
    <div class="container">
        <div class="title">
            <h2>Services</h2>
        </div>
        <p class="subTitle">Showing all the services which we provide.</p>
        <div class="row row10">
            <div class="col-lg-3 col-md-4" *ngFor="let item of serviceDetail">
                <div class="servicesCol whiteFrame sepNewsCol p-0">
                    <div class="img">
                        <img 
                            src="{{
                                item?.image
                                ? getImage(item?.image)
                                : '../../../assets/images/image1.jpg'
                            }}"
                            alt="{{ item?.title }}"
                        ></div>
                    <h3><a href="javascript:void(0)" title="{{ item?.title }}">{{ item?.title }}</a></h3>
                </div>
            </div>
            
        </div>
    </div>
</section>