<section class="section sectionSmall dashGroups grayBg">
    <div class="container"> 
        <div class="dashHead d-flex align-items-center">
            <h2 class="heading flex-grow-1">Transaction Logs</h2>
            <a href="javascript:void(0)" class="viewAll">View All</a>
        </div>       
        <div class="row transLogsRow">
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="certifiedTeacherCol whiteFrame p-3">
                    <h3><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h3>
                    <div class="bottomRow">
                        <div class="dateColBTM font-medium">12/10/2021</div>
                        <div class="priceCol">$120.99</div>
                    </div>
                </div>
            </div>
        </div>        
      
    </div>
</section><!--//Contacted Tutors-->