<section class="section resourcesSection">
    <div class="container">
        <div class="title">
            <h2>Get Ready For Work</h2>
        </div>      
        <div class="row resourcesRow">
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career1.jpg" alt=""></div>
                    <h3>Management</h3>
                    <h4><a href="javascript:void(0)">Materials for preparing work</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl aliquet pharetra accumsan nulla.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career2.jpg" alt=""></div>
                    <h3>Management</h3>
                    <h4><a href="javascript:void(0)">Materials to write an impressive CV</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career3.jpg" alt=""></div>
                    <h3>Management</h3>
                    <h4><a href="javascript:void(0)">Interview Skills</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career4.jpg" alt=""></div>
                    <h3>Management</h3>
                    <h4><a href="javascript:void(0)">Stress Management</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl aliquet pharetra accumsan nulla.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/careers/career5.jpg" alt=""></div>
                    <h3>Management</h3>
                    <h4><a href="javascript:void(0)">Anger Management</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl aliquet pharetra accumsan nulla.</p>
                </div>
            </div>            
        </div>
        
    </div>
</section>