<section class="section ouStorySection text-center">
    <div class="container container940">
        <div class="title">
            <h2>Our Story</h2>
        </div>
        <div class="cmsContent p-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices bibendum pulvinar consectetur condimentum fames condimentum mauris eget. Arcu aliquam mattis in morbi vitae bibendum nam morbi. Aliquet purus, nunc, condimentum viverra. Scelerisque urna in elementum et diam gravida suspendisse. Sed augue eleifend a dui in. Ornare tellus odio enim aliquet vulputate non tincidunt morbi nisi. Ultricies vulputate maecenas a morbi tortor neque vulputate vel. Phasellus placerat consequat, pretium, dolor. Vel lectus condimentum convallis sodales habitasse semper.</p>
        </div>
    </div>
</section>

<section class="section benefitsSection text-center pt-0">
    <div class="container container940">
        <div class="title">
            <h2>Benefits</h2>
        </div>
        <div class="cmsContent p-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor nunc, nunc lacus dignissim nunc, ullamcorper interdum. Gravida scelerisque risus lectus odio fermentum. Lectus nullam leo molestie id. Adipiscing vel vitae pulvinar lobortis. Curabitur in egestas cras bibendum consequat suspendisse suspendisse ac. Tempor tellus ullamcorper dis at eget quis morbi ut sit. Non egestas eleifend massa rhoncus, ultrices nulla. Mauris nunc, a, congue egestas risus dignissim. At amet et diam turpis accumsan, massa ullamcorper ultrices.</p>
        </div>
    </div>
</section>

<section class="section teamSection text-center pt-0">
    <div class="container container940">
        <div class="title">
            <h2>Teams</h2>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team1.jpg" alt=""></div>
                    <h3>Nicole Fisher</h3>
                    <h4>Product manager</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team2.jpg" alt=""></div>
                    <h3>Megan Douglas</h3>
                    <h4>Ceo</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team3.jpg" alt=""></div>
                    <h3>John Carrington</h3>
                    <h4>Developer</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team4.jpg" alt=""></div>
                    <h3>Trinity Sherlock</h3>
                    <h4>Designer</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team5.jpg" alt=""></div>
                    <h3>Jake Cramer</h3>
                    <h4>Writer</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teamInfo">
                    <div class="teamPic"><img src="../../../assets/images/team/team1.jpg" alt=""></div>
                    <h3>Brandon Coleman</h3>
                    <h4>Writer</h4>
                    <p>Designer who makes easy to change and easy to create new elements.</p>
                </div>
            </div>
        </div>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="javascript:void(0)" routerLink="/contact-us">Contact Us</a></p>
    </div>
</section>
