<div class="course-details-top">
    <div class="container">
        <div class="memInGroup primary-color  mb-2">
            36 Members in this group
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="title">
                    <h2>User Experience Design</h2>
                </div>               
                <p class="createdBy">Created By <a href="javascript:void(0)" class="underlineLink primary-color">John Doe</a></p>
                <div class="groupCreatedDateTime">
                    <div class="groupDate">Date - <strong>12/12/2021</strong></div>
                    <div class="groupTime">Time - <strong>09:00AM</strong></div>
                </div>
                <p>One Time Session</p>
            </div>
            <div class="col-md-4 text-md-right">
                <div class="coursePrice">
                    <h2><span class="ruppeeSign">&#8377;</span> 320</h2>
                </div>
                <div class="courseBtns">
                    <a class="btn btn-outlined btn-lg form-group" href="javascript:void(0)">Add To Cart</a>
                    <a class="btn btn-primary btn-lg form-group" href="javascript:void(0)">Join Now</a>
                </div>
            </div>
        </div>
       
    </div>
</div><!--//Course Details Top-->

<section class="section course-details-others">
    <div class="container">
        <div class="other-details-row">
            <div class="other-details-col">
                <label>Joined By</label>
                <h2>36</h2>
                <p>Students &amp; professionals</p>
            </div>
            <div class="other-details-col">
                <label>Seats left</label>
                <h2>14</h2>
                <p>Students &amp; professionals</p>
            </div>
            <div class="other-details-col">
                <label>Download</label>
                <h2>5</h2>
                <p>Resources</p>
            </div>
            <div class="other-details-col">
                <label>Full</label>
                <h2>Lifetime</h2>
                <p>Access</p>
            </div>
        </div>
    </div>
</section><!--//Other Details-->

<section class="section grayBg aboutCourse">
    <div class="container">
        <div class="title">
            <h2>About this <span>Professional Course</span></h2>
        </div>
        <div class="whiteFrame cmsContent f-14">
            <p>Prepare for a career in the high-growth field of UX design, no experience required. With professional training designed by Google, get on the fast-track to a competitively paid job.</p>
            <p><strong>User experience (UX) designers</strong> focus on the interaction that users have with products, like websites, apps, and physical objects. They make those everyday interactions useful, enjoyable, and accessible.</p>
            <p>Over 7 courses, gain in-demand skills that will prepare you for an entry-level job. At under 10 hours per week, you can complete the certificate in less than 6 months.</p>
            <p>You will create designs on paper and in digital design tools like Figma and Adobe XD. By the end of the certificate program, you will have a professional UX portfolio that includes three end-to-end projects, so that you're ready to apply for jobs.</p>
        </div>
    </div>
</section><!--//About this Professional Course-->

<section class="section grayBg courseItems pt-0">
    <div class="container">
        <div class="title">
            <h2>What You Will  <span>Learn</span></h2>
        </div>
        <div class="whiteFrame cmsContent">
            <div class="row courseItemsRow">
                <div class="col-md-6">
                    <p>Follow the design process: empathize with users, define pain points, ideate solutions, create wireframes and prototypes, test and iterate on designs</p>
                </div>
                <div class="col-md-6">
                    <p>Understand the basics of UX research, like planning research studies, conducting interviews and usability studies, and synthesizing research results</p>
                </div>
            </div>
            <div class="row courseItemsRow">
                <div class="col-md-6">
                    <p>Apply foundational UX concepts, like user-centered design, accessibility, and equity-focused design</p>
                </div>
                <div class="col-md-6">
                    <p>Create a professional UX portfolio that includes 3 end-to-end projects: a mobile app, a responsive website, and a cross-platform experience</p>
                </div>
            </div>
            
        </div>
    </div>
</section><!--//What You Will Learn-->