<footer>
    <div class="container">
        <div class="footerTop d-sm-flex flex-wrap align-items-center justify-content-between">
            <div class="footerLogo"><img src="../../../assets/images/footer-logo.svg" alt=""></div>
            <div class="getStarted">
                <h2>Ready to get started?</h2>
                <button class="btn btn-primary btn-lg">Get started</button>
            </div>
        </div>
        <div class="footerMiddle">
            <div class="row">
                <div class="col-md-4 form-group">
                    <div class="newsletterSignUp">
                        <h2>Subscribe to our newsletter</h2>
                        <form class="newsletterForm">
                            <input type="text" class="newsletterInput flex-grow-1" placeholder="Email address">
                            <button class="btn btn-primary"><img src="../../../assets/images/slider-arrow.svg" alt=""></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <h3>Services</h3>
                    <ul class="footerLinks">
                        <li><a href="#">Refund Policies</a></li>
                        <li><a href="#">Privacy Policies</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 form-group">
                    <h3>About</h3>
                    <ul class="footerLinks">
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Benefits</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-2 form-group">
                    <h3>Help</h3>
                    <ul class="footerLinks">
                        <li><a href="javascript:void(0)" routerLink="/frequently-asked-questions">FAQs</a></li>
                        <li><a href="javascript:void(0)" routerLink="/contact-us">Contact Us</a></li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerBottom d-sm-flex justify-content-between">
            <ul class="bottomLinks d-flex">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <ul class="socialMedia d-flex">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
