<section class="section resourcesSection">
    <div class="container">
        <div class="title">
            <h2>Resources</h2>
        </div>
        <div class="filterBy">
            <h3>Filter By</h3>
            <div class="filterWidget">
                <div class="filterFields form-group">
                    <select class="form-control">
                        <option value="">Language</option>
                    </select>
                </div>
                <div class="filterFields form-group">
                    <select class="form-control">
                        <option value="">Duration</option>
                    </select>
                </div>
                <div class="filterFields form-group">
                    <select class="form-control">
                        <option value="">Level</option>
                    </select>
                </div>
                <div class="filterFields form-group">
                    <select class="form-control">
                        <option value="">Subject</option>
                    </select>
                </div>
                <div class="filterFields form-group">
                    <select class="form-control">
                        <option value="">Skills</option>
                    </select>
                </div>
            </div>
        </div><!--//Filter By-->

        <div class="row topResources">
            <div class="col-sm-6">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/design.jpg" alt=""></div>
                    <h3>Design</h3>
                    <h4><a href="javascript:void(0)">Adobe Photoshop Training: From Beginner to Pro</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/language.jpg" alt=""></div>
                    <h3>Language</h3>
                    <h4><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu feugiat vitae magna sed tincidunt tellus pellentesque.</p>
                </div>
            </div>
        </div>

        <div class="row resourcesRow">
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert1.jpg" alt=""></div>
                    <h3>Certification</h3>
                    <h4><a href="javascript:void(0)">Gatehouse TEFL Certifications</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert2.jpg" alt=""></div>
                    <h3>Certification</h3>
                    <h4><a href="javascript:void(0)">Gatehouse Examiner</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert3.jpg" alt=""></div>
                    <h3>Gatehouse Trainer</h3>
                    <h4><a href="javascript:void(0)">Gatehouse TEFL Certifications</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert4.jpg" alt=""></div>
                    <h3>Certification</h3>
                    <h4><a href="javascript:void(0)">Gatehouse TEFL Certifications</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert5.jpg" alt=""></div>
                    <h3>Certification</h3>
                    <h4><a href="javascript:void(0)">Gatehouse Examiner</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="resourcesCol f-14">
                    <div class="resourcesPic"><img src="../../../assets/images/resources/cert6.jpg" alt=""></div>
                    <h3>Gatehouse Trainer</h3>
                    <h4><a href="javascript:void(0)">Gatehouse TEFL Certifications</a></h4>
                    <p>With the help of E-Learning, create your own path and drive on your skills on your own to achieve what you seek</p>
                </div>
            </div>
        </div>
        
    </div>
</section>