<section class="section skillsSection">
    <div class="container">
        <div class="title">
            <h2>Interview Skills</h2>
        </div>
        <div class="cmsContent p-0 font20">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices bibendum pulvinar consectetur condimentum fames condimentum mauris eget. Arcu aliquam mattis in morbi vitae bibendum nam morbi. Aliquet purus, nunc, condimentum viverra. Scelerisque urna in elementum et diam gravida suspendisse. Sed augue eleifend a dui in. Ornare tellus odio enim aliquet vulputate non tincidunt morbi nisi. Ultricies vulputate maecenas a morbi tortor neque vulputate vel. Phasellus placerat consequat, pretium, dolor. Vel lectus condimentum convallis sodales habitasse semper.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices bibendum pulvinar consectetur condimentum fames condimentum mauris eget. Arcu aliquam mattis in morbi vitae bibendum nam morbi.
            <p><strong>Lorem ipsum dolor sit Steps to follow:</strong></p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet, adipiscing elit.</li>
                <li>Lorem ipsum dolor, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices bibendum pulvinar consectetur condimentum fames condimentum mauris eget. Arcu aliquam mattis in morbi vitae bibendum nam morbi. Aliquet purus, nunc, condimentum viverra. Scelerisque urna in elementum et diam gravida suspendisse. Sed augue eleifend a dui in. Ornare tellus odio enim aliquet vulputate non tincidunt morbi nisi. Ultricies vulputate maecenas a morbi tortor neque vulputate vel. Phasellus placerat consequat, pretium, dolor. Vel lectus condimentum convallis sodales habitasse semper.</p>
        </div>
    </div>
</section>