<section class="section sectionSmall dashGroups grayBg">
    <div class="container"> 
        <div class="dashHead d-flex align-items-center">
            <h2 class="heading flex-grow-1">Notification &amp; Alerts</h2>
        </div>  
        <div class="notifications-card whiteFrame">
            <ul class="notifications mb-0">
                <li>
                    <div class="noti-label">Push Notification</div>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <div class="noti-label">Alerts</div>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <div class="noti-label">Messages</div>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</section><!--//Notification & Alerts-->