<section class="section faqSection">
    <div class="container">
        <div class="title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faqAccordion"*ngIf="faqs">
            <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                <div *ngFor="let faq of faqs">
                <accordion-group heading="{{transformHTML(faq.question)}}">
                    <p [innerHTML]="faq.answer"></p>
                </accordion-group>
            </div>
                <!-- <accordion-group heading="What will I get if I subscribe to this Certificate?">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="What is a UX designer?">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="What tools or platforms are included in the curriculum?">
                    <p>Some content</p>
                </accordion-group> -->
            </accordion>
        </div>
        <p class="f-12 text-center">More questions? Visit the <a href="#" class="primary-color font-medium">Learner Help Center.</a></p>
    </div>
</section><!--//Frequently Asked Questions-->
